<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huchengzhen.weblog.mapper.FollowMapper">

    <insert id="insert" parameterType="com.huchengzhen.weblog.dao.Follow">
        insert into follow (id, follower, followed)
        values (null, #{follower}, #{followed})
    </insert>

    <delete id="cancel" parameterType="com.huchengzhen.weblog.dao.Follow">
        delete
        from follow
        where follower = #{follower}
          and followed = #{followed}
    </delete>
</mapper>